@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  Light Mode Colors
  --primary: 0, 33, 71; Dark Navy Blue
  --secondary: 230, 57, 70; Vibrant Red
  --accent: 244, 244, 244; Light Gray
  --neutral: 255, 255, 255; White 
  --textPrimary: 52, 58, 64; Dark text
  --textSecondary: 108, 117, 125; Muted text
  --error: 220, 53, 69; Error Red
  --success: 40, 167, 69; Success Green
  --info: 23, 162, 184; Cyan Info
} */

/* [data-theme='dark'] {
  Dark Mode Colors
  --primary: 10, 25, 47; Deep Navy Blue for dark background
  --secondary: 179, 44, 53; Slightly darker Red
  --accent: 33, 37, 41; Very Dark Gray for backgrounds
  --neutral: 27, 34, 43; Near Black for main background
  --textPrimary: 235, 235, 235; Light Gray for text
  --textSecondary: 150, 150, 150; Muted Light Gray
  --error: 255, 77, 77; Bright Red for errors
  --success: 82, 196, 82; Light Green for success
  --info: 67, 182, 194; Brighter Cyan for highlights
} */
:root[data-theme="light"] {
  --primary: 0, 33, 71;          /* Dark navy blue */
  --secondary:93, 255, 0;      /* Bright red 230, 57, 70; */
  --background: 250, 250, 250;   /* Light neutral */
  --text: 33, 37, 41;    /* Dark gray for primary text */
  --accent: 244, 244, 244;  /* Soft off-white for card backgrounds, dividers, or subtle highlights */
}

:root[data-theme="dark"] {
  --primary: 55, 90, 127;        /* Muted blue for dark theme */
  --secondary: 94, 255, 0;   /* Bright pinkish red 255, 107, 107; */
  --background: 18, 18, 18;      /* Deep black-gray background */
  --text: 237, 237, 237; /* Light gray for primary text */
  --accent: 30, 30, 30;          /* Dark gray for accents */ 
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition:all 0.9 ease-in;
}